<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizzamania">

        <!-- Launcher -->
        <activity
            android:name="com.example.pizzamania.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Others -->
        <activity android:name="com.example.pizzamania.MainActivity" android:exported="false" />

        <activity android:name="com.example.pizzamaniya.LoginPageActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.HomePageActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.AdminRegistrationActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.UserRegistrationActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.AdminDashActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.AddMenuActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.CheckoutActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.OrderActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.OrderSummaryActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.OrderTrackingActivity" android:exported="false" />
        <activity android:name="com.example.pizzamaniya.ProfileActivity" android:exported="false" />

        <activity android:name="com.example.pizzamania.Cart_Activity" android:exported="false" />
        <activity android:name="com.example.pizzamania.Orders_viewActivity2" android:exported="false" />
        <activity android:name="com.example.pizzamania.bottom_nav_menuActivity" android:exported="false" />
    </application>
</manifest>